.navbar {
    background-color: #0f172a;
    padding: 12px 3%;

    .page-title {
        color: #fff;
    }

    .logo-inteira {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 2rem;
        color: #fff;
    }
}